
:root{
    --color: #191d25;
    --background_color: #edeff3;
    --background_transparent_color: #edeff3c2;
    --background_hover_color: #b2b8c6;
    --border_color: #454750;
    --active: #191d25;
    --inactive: #191d2586;
    --yes: forestgreen;
    --no: tomato;
    --accent_color: #0ba27a;
    --color-1: #ff990060;
    --color-2: #f1ee3260;
    --color-3: #97f23d60;
    --color-4: #53eec260;
    --color-5: #51c4f560;
    --color-6: #f1a4ec60;
}
/* @media (prefers-color-scheme: dark) { */
[data-color-theme='dark']{
    /* :root{ */
        --color: #e0e0eb;
        --background_color: #13131a;
        --background_transparent_color: #13131abb;
        --background_hover_color: #323238;
        --border_color: #51525a;
        --active: #e0e0eb;
        --inactive: #e0e0eb80;
        --yes: springgreen;
        --no: tomato;
        --accent_color: #2ceeba;
    /* } */
}

html{
    color: var(--color);
    background-color: var(--background_color);
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--border_color) transparent;
    /* position: relative; */
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
}
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--background_color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--border_color);
    border-radius: 20px;
    border: 3px solid var(--background_color);
}
*::-webkit-scrollbar-corner {
    background: var(--background_color);
}

::-moz-selection { /* Code for Firefox */
    color: var(--background_color);
    background-color: var(--color);
}

::selection {
    color: var(--background_color);
    background-color: var(--color);
}

body{
    padding: 0;
    margin: 0;    
    color: var(--color);
    background-color: var(--background_color);
    inset: 0;
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}

body *{
    /* font-size: large; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: var(--color);
    background-color: var(--background_color);
    box-sizing: border-box;
    /* accent-color: var(--accent_color); */
}

.add-job-btn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    width: 2.5ch;
    height: 2.5ch;
    /* padding: 0.25rem; */
    font-size: x-large;
    /* font-weight: 100; */
    border: 2px solid var(--yes);
    border-radius: 50%;
    color: var(--yes);
    opacity: 0.7;
}
.add-job-btn:hover{
    opacity: 1;
}
.add-job-btn:active{
    color: var(--border_color);
}



.add-job-modal-background{
    display: none;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    inset: 0;
    z-index: 100;
    background-color: var(--background_transparent_color);
    overflow: scroll;
}
.add-job-modal-window{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    /* width: max-content;
    max-width: 100%; */
    height: max-content;
    padding: 1rem;
    padding-top: 0;
    border: 1px solid var(--border_color);
}
/* .add-job-modal-title{
    
} */
.add-job-name-label{
    font-size: 1.2em;
}
.add-job-name-input{
    min-width: 20rem;
    padding: 0.25rem;
    font-size: 1em;
    border: 1px solid var(--border_color);
}
.add-job-job-notes-label{
    font-size: 1.2em;
}
.add-job-job-notes-textarea{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--border_color);
}
.add-job-sequence-label{
    font-size: 1.2em;
}
.add-job-modal-sequence-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 2rem;
    border: 1px solid var(--border_color);
    overflow: scroll;
}
.add-job-modal-sequence{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 1rem;
    width: max-content;
}
.add-job-modal-sequence-container h3{
    width: max-content;
    padding: 0.5rem;
    margin: 0;
}
.add-job-modal-sequence-container h3:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.add-job-modal-sequence-task{
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-left: 2px solid transparent;
}
.add-job-modal-sequence-task:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.add-job-task-drag-over{
    border-left: 2px solid var(--color);
    background-color: var(--background_hover_color);
}

.task-modal-background{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    inset: 0;
    z-index: 100;
    background-color: var(--background_transparent_color);
}
.task-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    max-width: max-content;
    padding: 1rem;
    border: 1px solid var(--border_color);
}
.task-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    max-width: max-content;
    padding: 1rem;
    border: 1px solid var(--border_color);
}
.task-modal h3{
    margin: 0;
    width: max-content;
}
.task-modal label{
    text-align: center;
    font-size: 1.2em;
    margin: 0.25rem;
}
.task-input, .task-select{
    min-width: 20rem;
    padding: 0.25rem;
    font-size: 1em;
    border: 1px solid var(--border_color);
}
.task-modal-time-input{
    width: 8rem;
    font-size: 1em;
    border: 1px solid var(--border_color);
}
.btn-group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.task-modal-btn{
    width: max-content;
    padding: 0.5rem 1rem;
    font-size: 1em;
    border: 1px solid var(--border_color);
    cursor: pointer;
    font-size: 1.2em;
}
.task-modal-btn:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.task-modal-btn:active{
    color: var(--color);
    background-color: var(--background_color);
}



.add-tasks-from-text-textarea{
    width: 100%;
    height: 8.5rem;
    border: 1px solid var(--border_color);
}

.add-job-ok-cancel-btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem
}
.add-job-ok-cancel-btn{
    padding: 0.5rem 1rem;
    font-size: 1.25em;
    border: 1px solid var(--border_color);
    cursor: pointer;
}
.add-job-ok-cancel-btn:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.add-job-ok-cancel-btn:active{
    color: var(--color);
    background-color: var(--background_color);
}



.main-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    inset: 0;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* gap: 2rem; */
    width: 100%;
    border-bottom: 1px solid var(--border_color);
}

.header-link{
    font-size: x-large;
    margin: 0.25rem 1rem;
    text-decoration: none;
    opacity: 0.8;
}
.header-link:hover{
    opacity: 1;
}
.header-spacer{
    flex-grow: 1;
}

.tabs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
    border-bottom: 1px solid var(--border_color);
}
.tab-btn{
    font-size: x-large;
    height: 2em;
    border: none;
    flex-grow: 1;
    opacity: 0.7;
    cursor: pointer;
}
.tab-btn:hover{
    opacity: 1;
}
.tab-btn-active{
    opacity: 1;
    background: var(--background_hover_color);
}
.pages-container{
    /* position: absolute; */
    width: 100%;
    flex-grow: 1;
    overflow: scroll;
    /* top: 5rem;
    bottom: 0;
    overflow: auto; */
}
.tab-page{
    display: none;
}
.show{
    display: block;
}


.jobs-table{
    width: 100%;
    border-collapse: collapse;
}
tr:hover{
    background-color: var(--background_hover_color);
}
.table-row-blank-border{
    border-top: 1px solid var(--background_color);
}
.jobs-table tr td{
    text-align: center;
    background: transparent;
}
.drag-over{
    border-top: 1px solid var(--yes);
}
.grabber{
    width: 2ch;
    cursor: grab;
}
.progress-td{
    padding: 0;
    text-align: left;
    background-color: var(--background_hover_color);
}    
.progress-td div{
    pointer-events: none;
    display: block;
    /* width: 80%; */
    height: 1.25em;
    background-color: var(--yes);
}

.delete-btn{
    font-size: larger;
    border: none;
    color: red;
    opacity: 0.5;
    background: transparent;
}
.delete-btn:active{
    border: none;
    color: var(--inactive);
}
.delete-btn:hover{
    opacity: 1;
}


/* CALENDAR */
.calendar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}
.week{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.day{
    position: relative;
    flex-grow: 1;
    flex-grow: 1;
    height: 14vw;
    border-right: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
}
.day-title{
    position: absolute;
    margin: 0.25rem;
    opacity: 0.7;
    background: transparent;
    font-size: clamp(0.25em, 1.75vw, 1.125em);
}
.day-number{
    position: absolute;
    margin: 0.25rem;
    right: 0;
    opacity: 0.7;
    font-size: clamp(0.25em, 1.75vw, 1.125em);
    background: transparent;
}
.today{
    width: 2em;
    padding: 0.25em;
    text-align: center;
    font-weight: bold;
    color: var(--yes);
    border: 2px solid var(--yes);
    border-radius: 1em;
    opacity: 1;
}
.jobs-overlay{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    position: absolute;
    inset: 0;
    top: 1.75rem;
    bottom: 0.5rem;
    background: transparent;
    gap: 0.5vw;
}
.ribbon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
    max-height: 1.25vw;
    max-height: clamp(0.25em, 1.75vw, 1.25em);
    background: transparent;
}
.bar{
    /* position: absolute; */
    /* top: 3rem; */
    left: 1rem;
    width: 20%;
    /* height: 1vw; */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.125vw;
    font-size: clamp(0.25em, 1.5vw, 1.125em);
    flex-grow: 1;
    opacity: 1;
}

.color-1{
    background-color: var(--color-1);
    /* top: 3rem; */
}
.color-2{
    background-color: var(--color-2);
    /* top: 5rem; */
}
.color-3{
    background-color: var(--color-3);
    /* top: 8rem; */
}
.color-4{
    background-color: var(--color-4);
}
.color-5{
    background-color: var(--color-5);
}
.color-6{
    background-color: var(--color-6);
}