
:root{
    --message-color: #191d25;
    --message-background_color: #edeff3;
    --message-background_transparent_color: #edeff3c2;
    --message-background_hover_color: #b2b8c6;
    --message-border_color: #454750;
    --message-active: #191d25;
    --message-inactive: #191d2586;
    --message-yes: forestgreen;
    --message-no: tomato;
    --message-accent_color: #0ba27a;
}
/* @media (prefers-color-scheme: dark) { */
[data-color-theme='dark']{
    /* :root{ */
        --message-color: #e0e0eb;
        --message-background_color: #13131a;
        --message-background_transparent_color: #13131abb;
        --message-background_hover_color: #2b2b31;
        --message-border_color: #51525a;
        --message-active: #e0e0eb;
        --message-inactive: #e0e0eb80;
        --message-yes: springgreen;
        --message-no: tomato;
        --message-accent_color: #2ceeba;
    /* } */
}

.message-modal-background *::-webkit-scrollbar-thumb:hover {
    background-color: var(--message-color);
}
.message-modal-background *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.message-modal-background *::-webkit-scrollbar-track {
    background: var(--message-background_color);
}
.message-modal-background *::-webkit-scrollbar-thumb {
    background-color: var(--message-border_color);
    border-radius: 20px;
    border: 3px solid var(--message-background_color);
}
.message-modal-background *::-webkit-scrollbar-corner {
    background: var(--message-background_color);
}


.message-modal-background *{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: var(--message-color);
    background-color: var(--message-background_color);
    box-sizing: border-box;
    accent-color: var(--message-accent_color);
}
.message-modal-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 10;
    padding: 0.5rem;
    background: var(--message-background_transparent_color);
}
.message-modal-window{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 90vh;
    padding: 1rem;
    border: 1px solid var(--message-border_color);
    gap: 0.5rem;
    background-color: var(--message-background_color);
}
.message-modal-input-label{
    overflow-wrap: break-word;
}
.message-modal-alert-label{
    text-align: center;
}
.message-alert-message{
    font-size: large;
    overflow-wrap: break-word;
    white-space: pre-line;
    overflow-y: scroll;
}
.message-modal-button-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
}
.message-modal-button{
    min-width: 7rem;
    padding: 0.25rem 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--message-color);
    background-color: var(--message-background_color);
}
.message-modal-button:hover{
    color: var(--message-background_color);
    background-color: var(--message-color);
}
.message-modal-button:active{
    color: var(--message-color);
    background-color: var(--message-background_color);
}
