
:root{
    --color: #191d25;
    --background_color: #edeff3;
    --background_transparent_color: #edeff3c2;
    --background_hover_color: #b2b8c6;
    --border_color: #454750;
    --active: #191d25;
    --inactive: #191d2586;
    --yes: forestgreen;
    --no: tomato;
    --accent_color: #0ba27a;
}
/* @media (prefers-color-scheme: dark) { */
[data-color-theme='dark']{
    /* :root{ */
        --color: #e0e0eb;
        --background_color: #13131a;
        --background_transparent_color: #13131abb;
        --background_hover_color: #2b2b31;
        --border_color: #51525a;
        --active: #e0e0eb;
        --inactive: #e0e0eb80;
        --yes: springgreen;
        --no: tomato;
        --accent_color: #2ceeba;
    /* } */
}

html{
    color: var(--color);
    background-color: var(--background_color);
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--border_color) transparent;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
}
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--background_color);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--border_color);
    border-radius: 20px;
    border: 3px solid var(--background_color);
}
*::-webkit-scrollbar-corner {
    background: var(--background_color);
}

body{
    padding: 0;
    margin: 0;
}

body *{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: var(--color);
    background-color: var(--background_color);
    box-sizing: border-box;
    accent-color: var(--accent_color);
}

select{
    width: max-content;
    min-width: 100%;
    border: 1px solid #555;
    border-radius: .5rem;
}

textarea{
    width: max-content;
    min-width: 100%;
    height: 10rem;
    border: 1px solid #555;
    border-radius: .5rem;
}

#main-header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.25rem;
}

#tab-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#tab-header *{
    /* box-sizing: border-box; */
}

.tab-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: max-content;
    gap: 1rem;
}

#home-tab-btn{
    border-width: 0;
    transform: translate(0px, -1rem);
}
#home-tab-btn a{
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: var(--inactive);
}
#home-tab-btn a:hover{
    color: var(--active);
}

.task-timer-input-label{
    width: 100%;
    max-width: max-content;
    margin-bottom: 1rem;
    text-align: center;
}
.task-timer-input-label input{
    width: 10rem;
}


.icon-button{
    padding: 0;
    margin: 0;
    border: none;
    transform: translate(0px, -1rem);
}
.icon-button svg{
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    stroke: var(--inactive);
    color: var(--inactive);
    transform: translateY(0.5rem);
}
.icon-button svg:hover{
    stroke: var(--active);
    color: var(--active);
}
.icon-button svg:active{
    stroke: var(--accent_color);
    color: var(--accent_color);
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

#db-activity{
    position: fixed;
    /* top: calc(100vh - 3rem); */
    bottom: 1rem;
    left: calc(100vw - 4rem);
    color: var(--inactive);
    font-size: large;
    background: transparent;
    pointer-events: none;
}
#db-activity span{
    color: var(--inactive);
    background: transparent;
}


.tab-btn{
    padding: 0.25rem 0.75rem;
    color: var(--inactive);
    background-color: var(--background_color);
    border: none;
}
.tab-btn:hover{
    color: var(--active);
}
.tab-btn::after{
    position: absolute;
    content: "*";
    color: var(--accent_color);
    /* font-size: larger; */
    font-weight: bolder;
    visibility: hidden;
}
.active-tab{
    padding: 0.25rem 0.75rem;
    color: var(--active);
    background-color: var(--background_color);
    border: none;
    border-bottom: 2px solid var(--active);
}
.active-tab:active{
    color: var(--accent_color);
}

.after-visible::after{
    visibility: visible;
}

table *{
    font-size: large;
}
table{
    table-layout:fixed;
    /* max-width: max-content; */
    width: 100%;
    margin-bottom: 1rem;
    border: solid 1px var(--border_color);
    /* border-collapse: separate; */
    border-spacing: 0;
    /* overflow: scroll; */
    overflow-x: auto;
    display: block;
}
th{
    padding: 0.5rem 1rem;
}
tr{
    overflow: scroll; 
    /* border: none; */
}
tr:hover{
    background-color: var(--background_hover_color);
}
td{
    max-width: 20rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    background: transparent;
    border: none;
    white-space: pre-line;
    overflow: hidden;
}

.form-btn{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--color);
    background-color: var(--background_color);
}
.form-btn:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.form-btn:active{
    color: var(--color);
    background-color: var(--background_color);
}

.small-btn{
    width: 100%;
    /* max-width: max-content; */
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--color);
    background-color: var(--background_color);
}
.small-btn:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.small-btn:active{
    color: var(--color);
    background-color: var(--background_color);
}

#supply-list-item-input{
    min-height: 10rem;
    border: 1px solid #555;
    border-radius: .5rem;
    box-sizing: border-box;
}


.delete-btn{
    font-size: larger;
    border: none;
    color: red;
    opacity: 0.5;
    background: transparent;
}
.delete-btn:active{
    border: none;
    color: var(--inactive);
}
.delete-btn:hover{
    opacity: 1;
}


/* .issues-note{
    color: var(--inactive);
    white-space: pre-line;
    width: max-content;
    min-width: 20rem;
    max-width: 20rem;
    min-height: 10rem;
    max-height: 10rem;
    padding: 0.5rem;
    margin: 0;
    border: 1px solid var(--border_color);
    overflow: auto;
} */

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    /* min-width: 100%; */
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    /* width: 100%; */
    max-width: max-content;
    box-sizing: border-box;
}

.gap-2rem{
    gap: 2rem;
}
.align-start{
    align-items: flex-start;
}

/* select{
    width: max-content;
    min-width: 100%;
    border: 1px solid #555;
    border-radius: .5rem;
} */

input{
    border: 1px solid #555;
    border-radius: .5rem;
    box-sizing: border-box;
}

.input-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}
.labeled-input{
    width: 100%;
    /* width: 20rem; */
}
.input-label-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    width: max-content;
    margin-bottom: 1rem;
}
.big-checkbox{
    width: 0.75em;
    height: 0.75em;
}

.input-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    max-width: 100%;
}

.small-input-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 20rem; */
    margin-bottom: 1rem;
}
.small-labeled-input{
    width: 100%;
    /* width: 20rem; */
}

.container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.modal-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 10;
    padding: 0.5rem;
    background: var(--background_transparent_color);
}
.modal-window{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 90vh;
    padding: 1rem;
    border: 1px solid var(--border_color);
    gap: 0.5rem;
    background-color: var(--background_color);
}
.modal-input-label{
    overflow-wrap: break-word;
}
.modal-alert-label{
    text-align: center;
}
.alert-message{
    font-size: large;
    overflow-wrap: break-word;
    white-space: pre-line;
    overflow-y: scroll;
}
.modal-button-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
}
.modal-button{
    min-width: 7rem;
    padding: 0.5rem 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--color);
    background-color: var(--background_color);
}
.modal-button:hover{
    color: var(--background_color);
    background-color: var(--color);
}
.modal-button:active{
    color: var(--color);
    background-color: var(--background_color);
}

.checklist-prompt-checkbox-container{
    border: 1px solid var(--border_color);
    padding: 1rem;
}
.checklist-prompt-check-label{
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 0.25rem;
    font-size: large;
}
.checklist-prompt-check-label:hover{ 
    background-color: var(--background_hover_color);
}
.checklist-prompt-check-label input{
    margin-left: auto;
}

.small-font{
    font-size: smaller;
}


.sort-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sort-label{
    font-size: large;
    white-space: nowrap;
}
.sort-select{
    max-width: max-content;
    width: 100%;
    padding: 0.25rem;
    border: 1px solid #555;
    border-radius: .5rem;
    font-size: large;
    color: var(--color);
    background-color: var(--background_color);
}
